INSTALL
*Makefile
*Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing
tags
config.guess
config.sub
libtool
ltmain.sh
m4/
src/.deps/
src/*.o
src/prayertimes
src/.libs/
src/*.lo
src/*.la
test-driver
tests/.deps/
tests/check_astro
tests/*.log
tests/*.o
tests/*.trs
tests/.libs/
