INSTALL
*Makefile
*Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing
tags
config.guess
config.sub
libtool
ltmain.sh
m4/
src/.deps/
src/*.o
src/prayertimes
src/.libs/
src/*.lo
src/*.la
test-driver
tests/.deps/
tests/check_astro
tests/check_astro.log
tests/check_astro.o
tests/check_astro.trs
tests/test-suite.log
